<h1 mat-dialog-title>Crear alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formAlumnos" (ngSubmit)="guardar()">

        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input type="number" formControlName="id" matInput>
            <mat-error>El campo id es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" matInput>
            <mat-error>El campo nombre es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" matInput>
            <mat-error>El campo apellido es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input type="date" formControlName="fechaNacimiento" matInput>
            <mat-error>El campo fecha de nacimiento es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Curso</mat-label>
            <input formControlName="curso" matInput>
            <mat-error>El campo curso es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comisión</mat-label>
            <input type="number" formControlName="comision" matInput>
            <mat-error>El campo comisión es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profesor</mat-label>
            <input formControlName="profesor" matInput>
            <mat-error>El campo profesor es Obligatorio</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-slide-toggle formControlName="matriculaAbierta">Matricula Abierta</mat-slide-toggle>
            <input matInput hidden>
            <mat-error>El campo matrícula es Obligatorio</mat-error>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button [disabled]="formAlumnos.invalid" (click)="guardar()">Guardar</button>
</div>


