<br>
<h1 mat-dialog-title>Editar inscripción</h1>
<div mat-dialog-content>
  <form [formGroup]="formInscripciones">
    <div class="container text-center">
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Curso</mat-label>
          <mat-select formControlName="curso" [compareWith]="compararId">
            <mat-option *ngFor="let curso of cursos$ | async" [value]="curso">
              {{curso.nombreCurso}}
            </mat-option>
          </mat-select>
          <mat-error>El campo curso es Obligatorio</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Alumno</mat-label>
          <mat-select formControlName="alumno" [compareWith]="compararId">
            <mat-option *ngFor="let alumno of alumnos$ | async" [value]="alumno">
              {{alumno | juntar}}
            </mat-option>
          </mat-select>
          <mat-error>El campo alumno es Obligatorio</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-raised-button routerLink="/inscripciones/lista" >Atras</button>
  <button mat-raised-button (click)="actualizar()" color="primary">Actualizar</button>
</div>
