<h1 mat-dialog-title>Editar curso</h1>
<div mat-dialog-content>
    <form [formGroup]="formCursos">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombreCurso" matInput>
            <mat-error>El campo nombre es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comisión</mat-label>
            <input formControlName="comision" matInput>
            <mat-error>El campo comisión es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de inicio</mat-label>
            <input type="date" formControlName="fechaInicio" matInput>
            <mat-error>El campo fecha de inicio es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de fin</mat-label>
            <input type="date" formControlName="fechaFin" matInput>
            <mat-error>El campo fecha de fin es Obligatorio</mat-error>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button [disabled]="formCursos.invalid" (click)="actualizar()">Actualizar</button>
</div>




