<div class="contenedor">
  <div class="header">
    <mat-toolbar color="primary">
      <span [appTamanio]="'20px'">My App</span>
      <span class="example-spacer"></span>
  </mat-toolbar>
  </div>
  <div class="menu">
    <div class="contenedorMenu">
      <div>
        <button mat-button class="botonMenu" routerLink="">
          <mat-icon>home</mat-icon>
          <span class="tituloBoton">Inicio</span>
        </button>
        <button mat-button class="botonMenu" routerLink="/alumnos/lista">
          <mat-icon>group</mat-icon>
          <span class="tituloBoton">Alumnos</span>
        </button>
        <button mat-button class="botonMenu" routerLink="/cursos/lista">
          <mat-icon>school</mat-icon>
          <span class="tituloBoton">Cursos</span>
        </button>
        <button mat-button class="botonMenu" routerLink="/inscripciones/lista">
          <mat-icon>important_devices</mat-icon>
          <span class="tituloBoton">Inscripciones</span>
        </button>
        <button mat-button class="botonMenu" routerLink="/usuarios/lista">
          <mat-icon>person</mat-icon>
          <span class="tituloBoton">Usuarios</span>
        </button>
        <button mat-button class="botonMenu" (click)="cerrarSesion()">
          <mat-icon>logout</mat-icon>
          <span class="tituloBoton">Cerrar sesión</span>
        </button>
      </div>
    </div>
  </div>
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
</div>
 


 