
mat-sidenav-container {
    height: 100%;
    
  }
  .menu-item{
    margin-left: 10px;
  }

.chevron-button{
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.chevron-button.rotated{
    transform: rotate(180deg);
}  