<div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://st2.depositphotos.com/1000956/7499/i/600/depositphotos_74995093-stock-photo-eiffel-tower-in-paris.jpg" class="card-img-top" alt="Paris">
                    <div class="card-body">
                        <h5 class="card-title">París</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum odio in felis mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://st2.depositphotos.com/1000956/7499/i/600/depositphotos_74995093-stock-photo-eiffel-tower-in-paris.jpg" class="card-img-top" alt="Paris">
                    <div class="card-body">
                        <h5 class="card-title">París</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum odio in felis mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://st2.depositphotos.com/1000956/7499/i/600/depositphotos_74995093-stock-photo-eiffel-tower-in-paris.jpg" class="card-img-top" alt="Paris">
                    <div class="card-body">
                        <h5 class="card-title">París</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum odio in felis mattis feugiat. In rhoncus libero magna, ultricies condimentum tortor tempor sit amet.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
</div>