<!-- <app-toolbar></app-toolbar>
<div class="row">
    <div class="col-2">
        <app-sidenav></app-sidenav>
    </div>   <br>
       
    <div class="col-9"> 
        <app-lista-alumnos></app-lista-alumnos> 
    </div> 
</div> -->
<!-- <mat-toolbar color="primary">
    <span [appTamanio]="'20px'">My App</span>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
      <mat-nav-list>
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
          </mat-icon>
        </mat-list-item>
  
        <mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon>
          <span *ngIf="isExpanded" class="menu-item"  routerLink="/home">Home</span>
        </mat-list-item>
  
        <mat-list-item>
          <mat-icon mat-list-icon>important_devices</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Clases</span>
        </mat-list-item>
  
        <mat-list-item>
          <mat-icon mat-list-icon>group</mat-icon>
          <span *ngIf="isExpanded" class="menu-item" routerLink="/alumnos/lista">Alumnos</span>
        </mat-list-item>
  
        <mat-list-item>
          <mat-icon mat-list-icon>school</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Cursos</span>
        </mat-list-item>
        
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  




    
 -->
 <app-inicio></app-inicio>
 <router-outlet></router-outlet> 