<h1 mat-dialog-title>Editar alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="formAlumnos">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput>
            <mat-error>El campo nombre es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" matInput>
            <mat-error>El campo apellido es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input type="date" formControlName="fechaNacimiento" matInput>
            <mat-error>El campo fecha de nacimiento es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput>
            <mat-error>El campo email es Obligatorio</mat-error>
        </mat-form-field>
        
        <mat-slide-toggle formControlName="matriculaAbierta">Matrícula Abierta</mat-slide-toggle>
        
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button [disabled]="formAlumnos.invalid" (click)="actualizar()">Actualizar</button>
</div>



