<h1 mat-dialog-title>Editar usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="formUsuarios">
        <mat-form-field appearance="fill">
            <mat-label>Nombre de usuario</mat-label>
            <input formControlName="usuario" matInput>
            <mat-error>El campo usuario es Obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input formControlName="contrasena" matInput>
            <mat-error>El campo contraseña es Obligatorio</mat-error>
        </mat-form-field>
        
        <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
        
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button [disabled]="formUsuarios.invalid" (click)="actualizar()">Actualizar</button>
</div>




