<nav class="navbar navbar-expand d-flex flex-column text-center" id="sidebar">
    <ul class="navbar-nav d-flex flex-column mt-5 w-100 "> 
      <li class="nav-item w-100">
          <a href="#" class="nav-link text-light pl-4">Inicio</a>
      </li><br>
      <li class="nav-item w-100">
        <a href="#" class="nav-link text-light pl-4">Paquetes</a>
      </li><br>
      <li class="nav-item w-100">
       <a href="#" class="nav-link text-light pl-4">Destinos</a>
      </li><br>
      <li class="nav-item w-100">
        <a href="#" class="nav-link text-light pl-4">Nosotros</a>
      </li><br>
      <li class="nav-item w-100">
        <a href="#" class="nav-link text-light pl-4">Contacto</a>
      </li>
    </ul>
</nav>